body{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background-image: url("img/architecture-buildings-city-1134166.jpg");
}


.cabecalho{
    font-family: 'Amatic SC', cursive;
    background-color: rgba(255, 255, 255, 0.699);
    width: 100%;
    /* height: 60px; */
    color: black;
    padding: 20px;
    text-align: right;
    position: fixed;
    overflow:auto; 
    font-weight: bold;
}


li {
    display: inline;
    margin-right: 60px;
  }

.logo{
    text-align: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


.a {
    background-color: rgba(255, 255, 255, 0.699);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

a{
    font-weight: 10px;
    color: black;
    text-underline-position: none;
}
